In [18]:
import pandas as pd
import tqdm

In [19]:
df = pd.read_csv('data/ner_dataset.csv', encoding='latin1')
df.head(10)

    Sentence #           Word  POS    Tag
0  Sentence: 1      Thousands  NNS      O
1          NaN             of   IN      O
2          NaN  demonstrators  NNS      O
3          NaN           have  VBP      O
4          NaN        marched  VBN      O
5          NaN        through   IN      O
6          NaN         London  NNP  B-geo
7          NaN             to   TO      O
8          NaN        protest   VB      O
9          NaN            the   DT      O

In [20]:
for index in tqdm.tqdm(range(len(df))):
    if df.loc[index, 'Word'] == 'last':
        # print(index, df.loc[index, 'Word'])
        df.loc[index, 'Tag'] = 'B-tim'
        df.loc[index+1, 'Tag'] = 'I-tim'
    elif df.loc[index, 'Word'] == 'ago':
        df.loc[index, 'Tag'] = 'I-tim'
        df.loc[index-1, 'Tag'] = 'I-tim'
        df.loc[index-2, 'Tag'] = 'B-tim'

100%|██████████| 1048575/1048575 [00:15<00:00, 68386.55it/s]

In [21]:
df.to_csv('data/ner_dataset1.csv', index=False)